list는 여러가지 data를 저장할 수 있는 data이다. 즉, 숫자나 문자, 수식 등 개별적인 그리고 독립적인 data를 모아서 사용할 수 있게 해주는 특별한 형태의 data를 list라 한다.

이러한 list는 대괄호[] 내부에 여러 종류(혹은 한 종류)의 data를 넣어 선언한다.
선언시 대괄호[] 내부에 넣는 data를 element라 부른다. list호출시 대괄호[]안에 들어간 숫자를 index라 부른다.

In [ ]:
array=[273,32,103,"string",True,False]
print(array,type(array[0]),type(array[1]),type(array[2]),type(array[3]),type(array[4]),type(array[5]))
print(array[1:3])
array[0]="first"
print(array,type(array[0]))

print(array[-1],array[-2],array[-3],array[-4],array[-5],array[-6])  #index값이 음수면 list의 뒤에서부터 element를 선택할 수 있다.
print(array[3]," |",array[3][0])  #array[3]이 "string"이라는 문자열일 때 array[3][0]은 문자열의 맨 앞 문자인 s를 나타낸다.

list_a=[[1,2,3],[4,5,6],[7,8,9]]
print(list_a[1])
print(list_a[1][1])

[273, 32, 103, 'string', True, False] <class 'int'> <class 'int'> <class 'int'> <class 'str'> <class 'bool'> <class 'bool'>
[32, 103]
['first', 32, 103, 'string', True, False] <class 'str'>
False True string 103 32 first
string  | s
[4, 5, 6]
5

In [ ]:
#list연산자, 함수로는 +,*,len()이 있다. 각각 연결, 반복하는 연산자, 그리고 길이를 구하는 함수이다.
#문자열과 list는 굉장히 비슷한 data type으로 사용할 수 있는 연산자와 함수가 비슷하다.

#list선언
list_a=[1,2,3]
list_b=[4,5,6]

print("list 출력")
print("list_a=",list_a)
print("list_b=",list_b)
print()

print("list 기본 연산자")
print("list_a + list_b =",list_a+list_b)  #list_a와 list_b의 data를 연결한다.
print("list_a * 3 =",list_a*3)  # *를 사용해 list_a의 data를 3번 반복한다.
print()

print("list 길이를 구하는 함수")
print("len(list_a) =",len(list_a))  #매개변수로 주어진 list변수의 element의 개수를 세어준다.

list 출력
list_a= [1, 2, 3]
list_b= [4, 5, 6]

list 기본 연산자
list_a + list_b = [1, 2, 3, 4, 5, 6]
list_a * 3 = [1, 2, 3, 1, 2, 3, 1, 2, 3]

list 길이를 구하는 함수
len(list_a) = 3

In [ ]:
#list에 element를 추가하는 방법은 append()함수를 활용하는 것과, insert()함수를 활용하는 것 총 2가지이다.
#append()는 list뒤에 element를 추가하고, insert()함수는 list내 원하는 위치에 element를 추가한다.

list_a=[1,2,3]

print("list 뒤에 element추가")
list_a.append(4)
list_a.append(5)
print(list_a)
print()

print("list 중간에 element추가")
list_a.insert(2,10) #index 2에 10을 끼어 넣음, 이때 해당 위치의 element는 뒤로 하나씩 밀린다.
print(list_a)

#한 번에 여러 element를 추가하고 싶을 때는 extend()함수를 사용한다. 이 함수의 매개변수로 list를 입력하는데, 원래 list뒤에 새로운 list의 요소를 모두 추가한다.
list_b=[6,7,8]
print("extend()함수 예시")
print("list_b: ",list_b)
list_b.extend([4,5,6])
print("[4,5,6]추가: ",list_b)
print()

#list 연결 연산자와 extend()함수의 출력이 같고, list와 list를 연결한다는 기능은 동일하다.
#하지만 list 연결 연산자는 연산 이후 list를 갱신하지 못하지만 extend()함수는 list에 직접적으로 영향을 준다.
print("연결 연산자와 extend()의 차이")
list_c=[1,2,3]
list_d=[4,5,6]
print("list_c + list_d: ",list_c+list_d)
print("list_c: ",list_c)
print("list_d: ",list_d)
print()

list_c.extend(list_d)
print("list_c.extend(list_d): ", list_c)
print("list_c: ",list_c)
print("list_d: ",list_d)
print()

list 뒤에 element추가
[1, 2, 3, 4, 5]

list 중간에 element추가
[1, 2, 10, 3, 4, 5]
extend()함수 예시
list_b:  [6, 7, 8]
[4,5,6]추가:  [6, 7, 8, 4, 5, 6]

연결 연산자와 extend()의 차이
list_c + list_d:  [1, 2, 3, 4, 5, 6]
list_c:  [1, 2, 3]
list_d:  [4, 5, 6]

list_c.extend(list_d):  [1, 2, 3, 4, 5, 6]
list_c:  [1, 2, 3, 4, 5, 6]
list_d:  [4, 5, 6]

In [ ]:
#list의 element 제거하는 방법은 크게 두 가지이다.
#1. index로 제거
#element의 위치를 기반으로 element를 제거하는 것이다. del라는 keyword 혹은 pop()라는 함수 사용
print("index로 제거")
list_a=[0,1,2,3,4,5]
print("원본 list_a:",list_a)
print("list의 element 하나 제거")
del list_a[1] #index 1제거
print("del list_a[1]:",list_a)

list_a.pop(2)  #index 2제거, 만약 매개변수에 아무 것도 입력하지 않으면 자동으로 -1이 들어가는 것으로 취급
print("pop(2):",list_a)
print()

list_b=[0,1,2,3,4,5]
print("원본 list_a:",list_b)
print("list의 element 여러개 제거")
del list_b[1:4] #지정된 범위내 list의 element를 한꺼번에 제거
print("del list_a[1:4]:",list_b)

print("----------------------------------------")
#2. value로 제거
#말 그대로 "list 내부에 있는 2를 제거해 주세요"와 같이 값을 지정해서 제거하는 방법으로, remove()함수를 사용한다.
print("value로 제거")
list_c=[1,2,1,2]
print("원본 list_c:",list_c)
list_c.remove(2)
print("list_c.remove(2): ",list_c)  #list의 왼쪽부터 검사하면서 가장 먼저 발견되는 2라는 값 하나만 제거한다.

print("----------------------------------------")
#list내부의 element를 모두 제거, 이때는 clear()함수를 사용
print("list내 element모두 제거")
list_e=[0,1,2,3,4,5]
print("원본 list_e:",list_e)
list_e.clear()
print("list_e.clear(): ",list_e)

index로 제거
원본 list_a: [0, 1, 2, 3, 4, 5]
list의 element 하나 제거
del list_a[1]: [0, 2, 3, 4, 5]
pop(2): [0, 2, 4, 5]

원본 list_a: [0, 1, 2, 3, 4, 5]
list의 element 여러개 제거
del list_a[1:4]: [0, 4, 5]
----------------------------------------
value로 제거
원본 list_c: [1, 2, 1, 2]
list_c.remove(2):  [1, 1, 2]
----------------------------------------
list내 element모두 제거
원본 list_e: [0, 1, 2, 3, 4, 5]
list_e.clear():  []

In [ ]:
#in연산자를 활용하여 특정 값이 list 내부에 있는지 확인
list_a=[1,2,3,4]
print("원본 list_a: ",list_a)
print("77 in list_a:",77 in list_a)
print("2 in list_a:",2 in list_a)
print("5 in list_a:",5 in list_a)
print()
print("----------------------------------------")
#list 내부에 해당 값이 없는지 확인하는 연산자로는 not in 연산자가 있다. in 연산자와 정확히 반대로 동작한다.
print("77 not in list_a:",77 not in list_a)
print("2 not in list_a:",2 not in list_a)
print("5 not in list_a:",5 not in list_a)

원본 list_a:  [1, 2, 3, 4]
77 in list_a: False
2 in list_a: True
5 in list_a: False

----------------------------------------
77 not in list_a: True
2 not in list_a: False
5 not in list_a: True

In [1]:
#컴퓨터에 반복을 지시하는 방법이 반복문이다.
"""
for 변수이름 in 반복에 사용할 수 있는 자료:
  body

즉 기본 형태는 다음과 같다.
for 반복자 in 반복할 수 있는 것:
  body
이때 반복할 수 있는 것에는 문자열, list, dictionary, range등이 있다.
"""
array=[273,32,103,57,52]

for elem in array:
  print(elem)

#위 코드는 list에 있는 element 하나하나가 elem라는 변수에 들어가며, 차례차례 반복하게 된다.

print("--------------------------------------")
for character in "hello!!!":
  print("-",character)

273
32
103
57
52
--------------------------------------
- h
- e
- l
- l
- o
- !
- !
- !

list는 index를 기반으로 값을 저장한다. 이와 달리 dictionary는 key를 기반으로 값을 저장한다.
즉 다음과 같다.

변수={
  key: value,
  key: value,
  ...
  key: value
}


이와 같이 dictionary는 중괄호{}로 선언하며, 'key: value'형태를 쉼표(,)로 연결해서 만든다. key는 문자열, 숫자, boolean등으로 선언할 수 있다.

dictionary의 element에 접근할 때는 list처럼 dictionary뒤에 대괄호[]를 입력하고 내부에 index처럼 key를 입력하여 그 key에 대한 value에 접근할 수 있다.

value에는 문자열, 숫자, boolean, list와 dictionary등 다양한 data를 넣을 수 있다.

In [12]:
name="name"
dictionary={
  name:"7D 건조 망고",
  "type":"당절임",
  "ingredient":["망고","설탕","메타중아황산나트륨","치자황색소"],
  "origin":"필리핀",
  "price":15500,
  True:"판매중",
  False:"품절"
}

print("name:",dictionary[name])
print("type:",dictionary["type"])
print("ingredient:",dictionary["ingredient"])
print("origin:",dictionary["origin"])
print("price:",dictionary["price"])
print("현재 상황은 {} 혹은 {}이다.".format(dictionary[True],dictionary[False]))
print()

dictionary[name]="8D 건조 망고"
print("name:",dictionary[name])
print()

#key인 "ingredient"에 대한 value는 여러 개의 data를 갖는 list이므로 다음과 같이 index를 지정하여 list 안의 특정 값을 출력할 수도 있다.
print("재료중 가장 중요한 재료는 {}이다.".format(dictionary["ingredient"][1]))
print()
#dictionary에 값을 추가할 때는 key를 기반으로 값을 입력하면 된다.
#dictionary[new key]=new value
print(dictionary)
print("할인 중인지를 나타내는 value추가")
dictionary["on sale"]=True
print(dictionary)
print()
#dictionary의 element를 제거할 때는 list때와 같이 del라는 keyword를 사용하여 특정 key를 지정하면 해당 element가 제거된다.
print("ingredient에 대한 value제거")
del dictionary["ingredient"]
print(dictionary)

name: 7D 건조 망고
type: 당절임
ingredient: ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin: 필리핀
price: 15500
현재 상황은 판매중 혹은 품절이다.

name: 8D 건조 망고

재료중 가장 중요한 재료는 설탕이다.

{'name': '8D 건조 망고', 'type': '당절임', 'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'], 'origin': '필리핀', 'price': 15500, True: '판매중', False: '품절'}
할인 중인지를 나타내는 value추가
{'name': '8D 건조 망고', 'type': '당절임', 'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'], 'origin': '필리핀', 'price': 15500, True: '판매중', False: '품절', 'on sale': True}

ingredient에 대한 value제거
{'name': '8D 건조 망고', 'type': '당절임', 'origin': '필리핀', 'price': 15500, True: '판매중', False: '품절', 'on sale': True}

In [13]:
dictionary={}
print("element 추가 이전: ",dictionary)

dictionary["name"]="new name"
dictionary["head"]="new ego"
dictionary["body"]="new body"

print("element 추가 이후",dictionary)

element 추가 이전:  {}
element 추가 이후 {'name': 'new name', 'head': 'new ego', 'body': 'new body'}

In [14]:
dictionary={
    "name":"7D 건조 망고",
    "type":"당절임"
}

print("element 제거 이전:",dictionary)

del dictionary["name"]
del dictionary["type"]

print("element 제거 이후:",dictionary)

element 제거 이전: {'name': '7D 건조 망고', 'type': '당절임'}
element 제거 이후: {}

In [17]:
#in라는 keyword로 dictionary 내부에 key가 있는지 없는지 확인할 수 있다.
dictionary={
    "nanme":"7D 건조 망고",
    "type":"당절임",
    "ingredient" : ["망고","설탕","메타중아황산나트륨","치자황색소"],
    "origin":"필리핀"
}
key=input("> 접근하고자 하는 키: ")
if key in dictionary:
  print(dictionary[key])
else:
  print("존재하지 않는 키입니다.")
  value=input("dictionary에 추가를 원하시면 값을 입력해주세요")
  dictionary[key]=value
  print("추가되었습니다. {}:{}".format(key,dictionary[key]))

> 접근하고자 하는 키: price
존재하지 않는 키입니다.
dictionary에 추가를 원하시면 값을 입력해주세요30
추가되었습니다. price:30

In [18]:
#get()라는 함수는 dictionary의 key로 값을 추출하는 기능으로 dictionary[key]를 입력할 때와 같은 기능을 수행
#그러나 존재하지 않는 key에 접근할 경우 error를 발생시키는 것이 아닌 None를 출력한다.
dictionary={
    "nanme":"7D 건조 망고",
    "type":"당절임",
    "ingredient" : ["망고","설탕","메타중아황산나트륨","치자황색소"],
    "origin":"필리핀"
}

value=dictionary.get("존재하지 않는 키")
print("값:",value)
if value==None:
  print("당신은 존재하지 않는 키에 접근했었습니다.")

값: None
당신은 존재하지 않는 키에 접근했었습니다.

In [19]:
"""
for 반복자 in 반복할 수 있는 것:
  body
이때 반복할 수 있는 것에 dictionary를 사용하면, dictionary 내부에 있는 key가 차례대로 변수에 들어간다
"""
dictionary={
    "nanme":"7D 건조 망고",
    "type":"당절임",
    "ingredient" : ["망고","설탕","메타중아황산나트륨","치자황색소"],
    "origin":"필리핀"
}
for key in dictionary:
  print(key,";",dictionary[key])

nanme ; 7D 건조 망고
type ; 당절임
ingredient ; ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin ; 필리핀

In [25]:
#for문을 활용하여 특정한 횟수만큼 반복해서 돌리고 싶을 때는 range라는 data type을 반복할 수 있는 것으로 사용한다.
#range의 세가지 사용법
#1. 매개변수에 숫자를 한 개 넣는 방법
for i in range(14): #0부터 14-1까지의 정수 범위를 만든다.
  print("{}".format(i))
print("--------------------------")
#2. 매개변수에 숫자를 두 개 넣는 방법
for i in range(3,15): #3부터 15-1까지의 정수로 범위를 만든다.
  print(i)
print("--------------------------")
#3. 매개변수에 숫자를 세 개 넣는 방법
for i in range(3,15,2): #3부터 15-1까지의 정수로 범위를 만드는데, 앞뒤의 숫자가 2만큼의 차이를 갖는다.
  print(i)
print("--------------------------")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
--------------------------
3
4
5
6
7
8
9
10
11
12
13
14
--------------------------
3
5
7
9
11
13
--------------------------

In [28]:
#range라는 data type의 사용법 세가지
#1. 매개변수에 숫자를 한 개 넣는 방법
a=range(5)
print(a)
print(list(a))
print("--------------------------")
#2. 매개변수에 숫자를 두 개 넣는 방법
b=range(3,10)
print(b)
print(list(b))

print("--------------------------")
#3. 매개변수에 숫자를 세 개 넣는 방법
c=range(3,10,2)
print(c)
print(list(c))

print("--------------------------")

range(0, 5)
[0, 1, 2, 3, 4]
--------------------------
range(3, 10)
[3, 4, 5, 6, 7, 8, 9]
--------------------------
range(3, 10, 2)
[3, 5, 7, 9]
--------------------------

In [29]:
#range()함수의 매개변수로는 반드시 정수를 입력해야 하기에, 매개변수로 나누기 연산자를 사용하면 error발생한다.
n=10
a=range(0,n/2)

TypeError: 'float' object cannot be interpreted as an integer

In [32]:
n=10
a=range(0,n//2) #그렇기에 이처럼 정수 나누기 연산자를 사용한다.
print(a)
print(list(a))

range(0, 5)
[0, 1, 2, 3, 4]

In [33]:
for i in range(5):
  print(str(i)+"=반복 변수")
print()

for i in range(5,10):
  print(str(i)+"=반복 변수")
print()

for i in range(0,10,3):
  print(str(i)+"=반복 변수")
print()

0=반복 변수
1=반복 변수
2=반복 변수
3=반복 변수
4=반복 변수

5=반복 변수
6=반복 변수
7=반복 변수
8=반복 변수
9=반복 변수

0=반복 변수
3=반복 변수
6=반복 변수
9=반복 변수

In [34]:
array=[273,32,103,57,52]

for i in range(len(array)):
  print("{}번째 반복: {}".format(i,array[i]))

0번째 반복: 273
1번째 반복: 32
2번째 반복: 103
3번째 반복: 57
4번째 반복: 52

In [38]:
#반대로 반복하기(=역반복문)
#첫 번째 방법: range()함수의 매개변수를 세 개 사용
for i in range(4,0,-1):
  print("현재 반복 변수: {}".format(i))
print()

print("--------------------------")
#두 번째 방법: reversed()함수를 사용
for i in reversed(range(5)):
  print("현재 반복 변수: {}".format(i))
#이러한 reversed()함수는 list등에도 적용할 수 있다. 하지만 주의 사항이 굉장히 많은 함수이다.

현재 반복 변수: 4
현재 반복 변수: 3
현재 반복 변수: 2
현재 반복 변수: 1

--------------------------
현재 반복 변수: 4
현재 반복 변수: 3
현재 반복 변수: 2
현재 반복 변수: 1
현재 반복 변수: 0

In [39]:
"""
while boolean expressions:
  body
이 while 반복문은 매 회마다 boolean expressions를 계산하여 이 표현식이 참의 값을 출력하면 body를 실행한다.
"""
i=0
while i<10:
  print("{}번째 반복입니다.".format(i))
  i+=1

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.

In [41]:
list_test=[1,2,3,2,5,6,7,2,2,2]
value=2
print(list_test)
while value in list_test: #list_test내부에 value(==2)가 있다면 반복
  list_test.remove(value)

print(list_test)

[1, 2, 3, 2, 5, 6, 7, 2, 2, 2]
[1, 3, 5, 6, 7]

In [43]:
import time #시간과 관련된 기능을 가져온다.

num=0

target_tick=time.time()+5 #1970년 1월 1일 0시 0분 0초를 기준으로 몇 초가 지났는지를 정수로 나타냄
while time.time()<target_tick:  #현재 시간이 현재 시간+5가 될 때까지 반복, 즉 5초 동안 반복한다.
  num+=1
print("5초 동안 {}번 반복했습니다.".format(num))
#이 출력값은 컴퓨터의 성능과 상황에 따라 반복 횟수가 달리지기에 계속 달라진다.

5초 동안 23083019번 반복했습니다.

In [46]:
#break라는 keyword는 반복문을 벗어날 때 사용한다.
i=0
while True:
  print("{}번째 반복문입니다.".format(i))
  i+=1
  input_text=input("> 반복을 종료하시겠습니까?(y): ")
  if input_text in ['y','Y']:
    print("반복을 종료합니다.")
    break

0번째 반복문입니다.
> 반복을 종료하시겠습니까?(y): 2
1번째 반복문입니다.
> 반복을 종료하시겠습니까?(y): 3
2번째 반복문입니다.
> 반복을 종료하시겠습니까?(y): 4
3번째 반복문입니다.
> 반복을 종료하시겠습니까?(y): n
4번째 반복문입니다.
> 반복을 종료하시겠습니까?(y): N
5번째 반복문입니다.
> 반복을 종료하시겠습니까?(y): y
반복을 종료합니다.

In [47]:
#continue라는 keyword는 현재 반복을 생략하고, 다음 반복으로 넘어갈 때 사용하는 keyword이다.
num=[5,15,6,20,7,25]
for n in num:
  if n<10:
    continue
  print(n)

15
20
25

In [49]:
#list에 적용할 수 있는 기본 함수: min(), max(), sum()
numbers=[103,52,273,32,77]
print("list:",numbers)
print(min(numbers))
print(max(numbers))
print(sum(numbers)) #list 내 모든 값들을 다 더한다.

list: [103, 52, 273, 32, 77]
32
273
537

In [52]:
#list에 적용할 수 있는 기본 함수: reversed(), list뒤집기 때 사용
list_a=[1,2,3,4,5]
list_reversed=reversed(list_a)

print("reversed() 함수")
print("reversed([1,2,3,4,5]):",list_reversed)
print("list(reversed([1,2,3,4,5])):",list(list_reversed))
print("number[::-1]:",list_a[::-1])
print("number[::-1]에 의한 원본 list인 list_a에 변화는 없다.")
print("list_a:",list_a)
print()

print("reversed()함수와 반복문")
print("for i in reversed([1,2,3,4,5]):")
for i in reversed(list_a):
  print("-",i)

"""
list(list_reversed)의 return 값이 <list_reverseiterator object at 0x7e47e09e3400>로 나오는데 이는 다음과 같은 의미를 갖는다.

일단 for 반복문의 구조를 다시 살펴보면
< for 반복자 in 반복할 수 있는 것 >
구조로 되어 있는데, 이때 반복할 수 있는 것을 iterable라 한다. 이 iterable은 내부에 있는 요소들을 차례차례 꺼낼 수 있는 object를 의미한다.
list, dictionary, string tuple등은 모두 내부에서 요소를 차례차례 꺼낼 수 있으므로 iterable이다
이때 iterable중 next()함수를 적용해 하나하나 꺼낼 수 있는 요소를 iterator라 한다.

결론적으로 <list_reverseiterator object at 0x7e47e09e3400>(이때 0x7e47e09e3400는 주소)처럼 출력했다는 것은 return값이 reversediterator로 iterator라는 것이다.
iterator는 반복문의 매개변수로 전달할 수 있으며 이렇게 전달되면, 반복할 때마다 next()함수로 내부의 요소를 하나하나 꺼내 주는 것이다.

왜 reversed()함수는 list를 바로 return하지 않고 iterator를 return해 주냐면 메모리의 효율성을 위해서이다.
list를 복제한 뒤 뒤집어서 return 하는 것보다 기존에 있던 list를 활용해서 작업하는 것이 훨씬 효율적으로 판단하기 때문이다.
"""

reversed() 함수
reversed([1,2,3,4,5]): <list_reverseiterator object at 0x7e47e0c121a0>
list(reversed([1,2,3,4,5])): [5, 4, 3, 2, 1]
number[::-1]: [5, 4, 3, 2, 1]
number[::-1]에 의한 원본 list인 list_a에 변화는 없다.
list_a: [1, 2, 3, 4, 5]

reversed()함수와 반복문
for i in reversed([1,2,3,4,5]):
- 5
- 4
- 3
- 2
- 1

'\nlist(list_reversed)의 return 값이 <list_reverseiterator object at 0x7e47e09e3400>로 나오는데 이는 다음과 같은 의미를 갖는다.\n\n'

In [51]:
temp=reversed([1,2,3,4,5,6])
for i in temp:
  print("첫 번째 반복문: {}".format(i))
print()

for i in temp:
  print("두 번째 반복문: {}".format(i))
"""
출력해보면 두 번째 반복문은 출력이 안된다. 왜냐하면 reversed()함수의 결과가 generator이기 때문이다.

"""

첫 번째 반복문: 6
첫 번째 반복문: 5
첫 번째 반복문: 4
첫 번째 반복문: 3
첫 번째 반복문: 2
첫 번째 반복문: 1

In [54]:
#list에 적용할 수 있는 기본 함수: enumerate()
ex_list=["element A","element B","element C"]

print("단순 출력")
print(ex_list)
print()

print("enumberate()함수 적용 출력")
print(enumerate(ex_list))
print()

print("list()함수로 강제 변환 출력")
print(list(enumerate(ex_list)))
print()

print("반복문과 enumerate()함수 조합하기")
for i, value in enumerate(ex_list):
  print("{}번째 요소는 {}입니다.".format(i,value))

단순 출력
['element A', 'element B', 'element C']

enumberate()함수 적용 출력
<enumerate object at 0x7e47e08836a0>

list()함수로 강제 변환 출력
[(0, 'element A'), (1, 'element B'), (2, 'element C')]

반복문과 enumerate()함수 조합하기
0번째 요소는 element A입니다.
1번째 요소는 element B입니다.
2번째 요소는 element C입니다.

In [55]:
#dictionary는 items()함수와 함께 사용하면 key와 value값을 조합해서 쉽게 반복문을 작성할 수 있다.
ex_dictionary={
    "키A":"값A",
    "키B":"값B",
    "키C":"값C"
}
print("dictionary의 items()함수 결과 출력")
print("items():",ex_dictionary.items())
print()

print("dictionary의 items()함수와 반복문 조합하기")
for key,element in ex_dictionary.items():
  print("dictionary[{}] = {}".format(key,element))

dictionary의 items()함수 결과 출력
items(): dict_items([('키A', '값A'), ('키B', '값B'), ('키C', '값C')])

dictionary의 items()함수와 반복문 조합하기
dictionary[키A] = 값A
dictionary[키B] = 값B
dictionary[키C] = 값C

In [58]:
array=[]
for i in range(0,20,2):
  array.append(i*i)
print(array)
print()

print("-------------다른 방법--------------------")
array=[i*i for i in range(0,20,2)]  #range(0,20,2)의 요소를 i라 할 때 i*i로 list를 재조합해 주세요라는 코드이다. 이런 구문을 list comprehensions라 부른다.
print(array)
print()
"""
list comprehensions의 구조
list name=[표현식 for 반복자 in 반복할 수 있는 것]
"""
print("-------------예시-----------------------")
#array의 요소를 fruit라 할 때 초콜릿이 아닌 fruit로 list를 재조합해 주세요라는 코드이다.
array=["사과","자두","초콜릿","바나나","체리"]
output=[fruit for fruit in array if fruit !="초콜릿"]
print(output)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

-------------다른 방법--------------------
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

-------------예시-----------------------
['사과', '자두', '바나나', '체리']

In [62]:
number=int(input("정수 입력> "))

if number %2==0:
  print("""\
  입력한 문자열은 {}입니다.
  {}는 짝수입니다.""".format(number,number))
else:
  print("""\
  입력한 문자열은 {}입니다.
  {}는 홀수입니다.""".format(number,number))

"""
위 코드의 출력을 보면 다음과 같다.

정수 입력> 4
  입력한 문자열은 4입니다.
  4는 짝수입니다.

이처럼 출력에 들여쓰기가 있어 보기 안좋다. 그러므로 들여쓰기는 다음 코드와 같이 제거시킬 수 있다.
"""

print("----------개선---------")
number=int(input("정수 입력> "))

if number %2==0:
  print((
      "입력한 문자열은 {}입니다. \n"
      "{}는 짝수입니다."
  ).format(number,number))
else:
  print((
      "입력한 문자열은 {}입니다. \n"
      "{}는 홀수입니다."
  ).format(number,number))

print("--------다른 방법-------")
#문자열.join(문자열로 구성된 리스트) <-이러한 형태를 갖는 join()함수로 해결할 수 있다.
#join()함수는 list의 element를 문자열로 연결한다.
number=int(input("정수 입력> "))

if number %2==0:
  print("\n".join([
      "입력한 문자열은 {}입니다.",
      "{}는 짝수입니다."
  ]).format(number,number))
else:
  print("\n".join([
      "입력한 문자열은 {}입니다.",
      "{}는 홀수입니다."
  ]).format(number,number))

정수 입력> 4
  입력한 문자열은 4입니다.
  4는 짝수입니다.
----------개선---------
정수 입력> 5
입력한 문자열은 5입니다.
5는 홀수입니다.
--------다른 방법-------
정수 입력> 6
입력한 문자열은 6입니다.
6는 짝수입니다.